<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href = "../static/stylesheets/style.css">
<script>
   function startTime() {
     var today = new Date();
     var h = today.getHours();
     var m = today.getMinutes();
     var s = today.getSeconds();
     m = checkTime(m);
     s = checkTime(s);
     document.getElementById('txt').innerHTML =
     "The time now is " + h + ":" + m + ":" + s;
     var t = setTimeout(startTime, 500);
   }
   function checkTime(i) {
     if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
     return i; 
   }
   </script>
</head>
<body onload = "startTime()">
<div class="card">
  <img src="../static/stylesheets/gopher.png" alt="Gopher">
  <div class="container">
    <h4 style="text-align:center"><b>Congratulations on deploying Go on OpenShift</b></h4> 
    <p id ='txt'style ="text-align:center"></p> 
  </div>
</div>

</body>
</html> 